module "gke" {
    source                      = "./gke"
    project                     = "$(project)"
    region                      = "$(region)"
    zone                        = "$(zone)" 
    environment                 = "$(environment)"
    prefix                      = "$(prefix)"
    credentials                 = "$(credentials)"
    bucket                      = "$(bucket)"
}
